@page "/students"

<h3>Student</h3>
<PageTitle>Students</PageTitle>

<a href="" class="btn btn-success">Add Student</a>

<table class="table">

    <thead>
        <tr>
            <th>f</th>
            <th>ff</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

    </thead>

    <tbody>
        <tr>
            <th>dd</th>
            <th>dd</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>dd</th>
            <th>dd</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>

</table>


@code {

}
